{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block content %}

<section class="hero">
  <div class="hero-video">
    <iframe 
      src="https://www.youtube.com/embed/IR5pgupnVZo?autoplay=1&mute=1&loop=1&playlist=IR5pgupnVZo&controls=0&showinfo=0&rel=0&modestbranding=1"
      style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:200vh;min-width:100%;height:112.5vh;min-height:100%;border:none;"
      allow="autoplay; encrypted-media">
    </iframe>
  </div>
</section>

<section class="product">
  <iframe
    src="https://www.youtube.com/embed/GriXfu4tL30?autoplay=1&mute=1&loop=1&playlist=GriXfu4tL30&controls=0&showinfo=0&rel=0&modestbranding=1"
    class="product-video"
    style="border:none;pointer-events:none;height:394px;"
    allow="autoplay; encrypted-media">
  </iframe>
  <div class="product-title">MacBook Air</div>
  <h2 class="apple-headline">ก้าวข้ามทุกความเร็ว</h2>
  <p class="chip-info">พลังเร็วติดปีก</p>
  <div class="purchase-bar">
    <span class="price-text">เริ่มต้นที่ ฿36,999</span>
    <a class="buy-button" href="{{ url_for('product.mac') }}">เลือกซื้อ</a>
  </div>
</section>

<section class="products">
  <div class="product-card" id="iphone-card">
    <div class="product-content-right">
      <div class="product-info">
        <h1>iPhone 17 Pro</h1>
        <p>ที่สุดของความโปร</p>
      </div>
      <div class="purchase-bar">
        <span class="price-text">เริ่มต้นที่ ฿57,800</span>
        <a class="buy-button" href="{{ url_for('product.iphone') }}">เลือกซื้อ</a>
      </div>
    </div>
  </div>
</section>

<section class="products-row">
  <div class="small-card" id="ipad-card">
    <iframe
      src="https://www.youtube.com/embed/m30bUKaNfhY?autoplay=1&mute=1&loop=1&playlist=m30bUKaNfhY&controls=0&showinfo=0&rel=0&modestbranding=1"
      class="card-video-iframe"
      allow="autoplay; encrypted-media">
    </iframe>
    <div class="small-card-content pos-center">
      <h1 class="apple-gradient-text">iPad Pro</h1>
      <p>อัดฉีดพลังแรงๆๆๆๆ</p>
      <div class="purchase-bar-small">
        <span class="price-text">เริ่มต้นที่ ฿35,999</span>
        <a class="buy-button-small" href="{{ url_for('product.ipad') }}">เลือกซื้อ</a>
      </div>
    </div>
  </div>

  <div class="small-card" id="watch-card">
    <iframe
        src="https://www.youtube.com/embed/x3pV7rvvJQA?autoplay=1&mute=1&loop=1&playlist=x3pV7rvvJQA&controls=0&showinfo=0&rel=0&modestbranding=1"
        class="card-video-iframe"
        allow="autoplay; encrypted-media">
    </iframe>
    <div class="small-card-content pos-center">
      <h1 class="apple-gradient-text">Watch Ultra</h1>
      <p>นาฬิกาสปอร์ตและการผจญภัยที่เหนือชั้น</p>
      <div class="purchase-bar-small">
        <span class="price-text">เริ่มต้นที่ ฿29,900</span>
        <a class="buy-button-small" href="{{ url_for('product.watch') }}">เลือกซื้อ</a>
      </div>
    </div>
  </div>

  <div class="small-card" id="airpods-card">
    <iframe
      src="https://www.youtube.com/embed/EMmKs8vMKhU?autoplay=1&mute=1&loop=1&playlist=EMmKs8vMKhU&controls=0&showinfo=0&rel=0&modestbranding=1"
      class="card-video-iframe"
      allow="autoplay; encrypted-media">
    </iframe>
    <div class="small-card-content pos-center">
      <h1 class="apple-gradient-text">AirPods Pro 3</h1>
      <p>การตัดเสียงรบกวนแบบแอ็คทีฟ ในแบบที่คุณไม่เคยได้ยินมาก่อน</p>
      <div class="purchase-bar-small">
        <span class="price-text">เริ่มต้นที่ ฿8,790</span>
        <a class="buy-button-small" href="{{ url_for('product.airpods') }}">เลือกซื้อ</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
